## <Project-Name> - Business Requirements
__Template Version: 0.1.0__

### What is it?

<Provide short business description of the product. Make it suitable for project's profile on GitHub, Azure DevOps, etc.>

### What is it supposed to be used for?

<List here all usings of the product, which will drive main features existence.>
- ...
- ...
- ...

### Main Functionalities:

<List here all main features with specifications for them in sublists, focus on user perspective.>
- ...
	- ...
	- ...


- ...
	- ...
	- ...
